/* .navbar {
  height: 139px;
} */

.nav-item {
  font-family: "century gothic", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  /* display: flex;
  align-items: center; */
}
/* @media screen and (min-width: 768px) {
  .nav-item {
    margin-right: 35px;
  }
} */
.nav-link {
  color: #ffffff;
}

.button {
  box-sizing: border-box;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.015em;
}

.login-button {
  background-color: #ffffff;
  color: #0e4944;
}

.login-button:hover {
  background-color: lightgreen;
  color: #fff;
  font-size: 18px;
}

.register-button {
  background: #41ec7b;
}

.register-button:hover {
  background-color: lightgreen;
  font-size: 18px;
}
